DB_USERNAME=smart_budget
DB_PASSWORD=change-me-local-only
DB_NAME=smart_budget_db
DB_PORT=5432

APP_PORT=8080
KEYCLOAK_PORT=8081
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-admin-local-only
DEMO_OWNER_ONE_PASSWORD=change-me-owner-one
DEMO_OWNER_TWO_PASSWORD=change-me-owner-two
